.contact-section {
    background-color: #fcfcfc;
    padding: 100px 0;
}
.social-icons a {
    font-size: 20px;
}

@media screen and (max-width: 575px) {
    .contact-section {
        padding: 40px 0;
    }
}